server {
  listen 80 default_server;
  server_name _;
  access_log /var/log/nginx/{{ inventory_hostname }}-access.log;
  error_log  /var/log/nginx/{{ inventory_hostname }}-error.log;
  root /var/www/html;

  location / {
    try_files $uri $uri/ =404;
  }
}

